<div class="team-details">
  <div class="team-content" *ngIf="teamVenue">
    <app-team [teamVenue]="teamVenue" [showContent]="true"></app-team>
  </div>
  <div class="right-content">
    <div class="team-standings" *ngIf="teamStandings">
      <app-team-standings [teamStandings]="teamStandings"></app-team-standings>
    </div>
    <div class="team-roster">
      <div *ngFor="let player of teamRoster">
        <app-team-roster [player]="player"></app-team-roster>
      </div>
    </div>
  </div>
</div>
