.home {
  padding: 30px;
}

.home h1 {
  background-color: #fff;
  font-weight: bold;
  font-size: larger;
  color: black;
  text-align: center;
}

.home-teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

