<ng-template [ngIf]="teamVenue" [ngIfElse]="fail">
  <mat-card class="team-card" [ngClass]="{'team-card-details': showContent}">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [style.background]="'url(' + teamVenue.team.logo + ')'"></div>
      <mat-card-title>{{teamVenue.team.name}}</mat-card-title>
      <mat-card-subtitle>{{teamVenue.venue.city}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="showContent">
      <div class="team-venue">
        <img [src]="teamVenue.venue.image" alt="imagem do estadio" class="team-venue-image">
        <p><span>{{teamVenue.venue.name}} </span></p>
        <p><span>Cidade: </span>{{teamVenue.venue.city}}</p>
        <p><span>Endereço: </span>{{teamVenue.venue.address}}</p>
        <p><span>Capacidade: </span>{{teamVenue.venue.capacity}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #fail>
  <mat-card class="team-card" >
    <mat-card-header>
      <div mat-card-avatar class="header-image" [style.background]="'url(./../assets/images/no-image.png)'"></div>
      <mat-card-title>Falha ao carregar</mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-template>
